.Tagger {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
}

.MainTab {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
  height: 100vh;
}

.MainTab>div.react-tabs__tab-panel--selected {
  display: grid;
  overflow: auto;
}

.MainFrame {
  margin-left: 1em;
}

.cursor-loading {
  cursor: wait;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.cursor-add {
  cursor: crosshair;
}

.cursor-jump {
  cursor:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAK0lEQVQ4jWNgwAPcXtf+d3td+x+fGrxg1AB6GQBTRC6m3ICBD4NRAyg3AAD/VaCNcYtSywAAAABJRU5ErkJggg==) 8 8, auto;
}

.cursor-delete {
  cursor: url('../res/delete.png') 8 8, auto;
}

.cursor-move {
  cursor: move;
}