.selectForm {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto 1fr;
   overflow: auto;
}

.box {
   margin:20px auto 40px auto;	
   border:1px solid #d9d9d9;
   color: whitesmoke;
   height:30px;
   overflow: hidden;
   width: 230px;
   position:relative;
}

select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 250px;
}

select:focus{ outline: none;}

option {
   color: black;
}

.box::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}

.seriesContainer {
   overflow: auto;
}

.seriesList ul {
   list-style: none;
}

.seriesList a:link, .seriesList a:visited {
   color: whitesmoke;
   text-decoration: none;
}


.selectedSerie {
   text-decoration: underline;
}