.Tagger {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
}

.MainTab {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
  height: 100vh;
}

.MainTab>div.react-tabs__tab-panel--selected {
  display: grid;
  overflow: auto;
}

.MainFrame {
  margin-left: 1em;
}

.cursor-add {
  cursor: crosshair;
}

.cursor-delete {
  cursor: url('../res/delete.png') 8 8, auto;
}

.cursor-move {
  cursor: move;
}