.tagsList ul {
   list-style: none;
}

.tagsList a:link, .tagsList a:visited {
   color: whitesmoke;
   text-decoration: none;
}

.selectedTag {
   text-decoration: underline;
}

.eyebutton {
   margin-left: 0.5em;
}

.fa-gray{
   color: #222;
}

.fa-yellow{
   color: #f0ad4e;
}