.console_nav {
    display: flex;
    justify-content: space-around;
}

.console_nav a, a:visited{
    color: #FFF;
    text-decoration: none;
}

.console_nav li {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.editModal{
    left: 1em;
    top: 1em;
    right: 1em;
    bottom: 1em;
    position: absolute;
    z-index: 100;
    background: var(--nogal-background-color);
    border: 2px solid;
    overflow: auto;
    border-radius: 5px;
}

.editModal .close {
    position: absolute;
    top: 0.5em;
    right: 1em;
}